* {
    box-sizing: border-box;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
* {
    font-family: 'Inter', system-ui, sans-serif;
}
* {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
html {
    font-size: 16px; /* Base font size for desktops */
    color: #212529;
}

/*html {
    font-size: clamp(11px, 2vw, 17px);
}*/

i {
    font-family: FontAwesome !important;
}

a:hover, a:active, a:focus {
    /* styling for any way a link is about to be used */
    outline: 0;
}

input, select {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px !important;
}

select {
    padding-left: 10px;
    padding-right: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

    select::-ms-expand {
        display: none;
    }

    select.disabled-inputs {
        text-indent: -1px;
    }

.label-padding {
    padding-left: 10px;
    padding-right: 14px;
}

input, select {
    width: 90% !important;
    height: 100% !important;
    color: rgba(0, 0, 0);
    font-weight: 400;
    border-color: #bbb;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
}

input {
    padding-left: 10px;
    padding-right: 14px;
}

    input[type=button], input[type=submit], input[type=reset] {
        font-weight: bold;
        font-size: 12px;
        text-shadow: none;
        border-radius: 50px;
        line-height: 12px;
        margin-top: 5px;
    }

.inputWidth input, .inputWidth select {
    width: 95% !important;
}

.fullInputWidth input, .fullInputWidth select {
    width: 100% !important;
}

input[type=checkbox] {
    height: 18px !important;
    max-width: 10% !important;
    margin-left: 5px;
}

.wrapperLink {
    position: relative;
}

.disabled-inputs {
    pointer-events: none;
    color: rgb(0, 0, 0);
    border-style: none;
    padding-left: 0px;
    padding-right: 14px;
}

.no-select {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE/Edge */
}

.float-rt {
    float: right;
}

.float-lt {
    float: left;
}

.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left !important;
}

.opacity-100 {
    opacity: 100%;
}

.margin-top-75 {
    margin-top: 75px;
}

.padding-left-0 {
    padding-left: 0px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.padding-9 {
    padding-left: 9px;
    padding-right: 9px;
}

.table-wrapper {
    background: #fff;
    padding: 20px;
    margin: 15px 0;
}

.table-title {
    padding-bottom: 5px;
    margin: 0 0 5px;
}

    .table-title h2 {
        margin: 8px 0 0;
        font-size: 24px;
    }

.container-width {
    width: 95vw;
    max-width: 95vw;
}

.navbar {
    border-radius: 0px !important;
}

.pageHeaderFixed {
    overflow: auto;
    height: 100vh;
}

    .pageHeaderFixed header {
        position: sticky;
        top: 0;
        z-index: 50;
    }

body {
    overflow-x: hidden !important;
    -ms-overflow-style: none; /*Internet Explorer 10+ */
    scrollbar-width: none; /*Firefox*/
}

    body::-webkit-scrollbar {
        display: none; /*Safari and Chrome */
    }

.pageHeaderFixed::-webkit-scrollbar {
    height: 0px !important;
    width: 0px !important;
    border: 0px solid #d5d5d5;
    border-start-end-radius: 0px;
}

.overflow-Y {
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

.icon-align-center {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 70% !important;
}

.alignCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.valignCenter {
    display: flex;
    align-items: center;
}

.align-page-center {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0.7;
    background-color: #fff;
    z-index: 100;
}

.loading-image {
    position: absolute;
    top: 40%;
    left: 47%;
    z-index: 101
}

hr.rounded {
    border-top: 1px solid #bbb;
    border-radius: 1px;
    height: 1px;
    width: 100%;
}

.nowrap {
    flex-wrap: nowrap !important
}

.fontStyle, .fontStyle label, .fontStyle input {
    color: #212529 !important;
    font-weight: 800 !important;
}


/* Extra Small Devices (phones < 576px) */
@media (max-width: 575.98px) {
    html {
        font-size: 14px;
    }

    h1 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 14.5px;
    }

    p {
        font-size: 0.9rem;
    }
}

/* Small Devices (phones ≥ 576px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    html {
        font-size: 14px;
    }

    h1 {
        font-size: 2rem;
    }
    h4 {
        font-size: 15px;
    }

    p {
        font-size: 1rem;
    }
}

/* Medium Devices (tablets ≥ 768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    html {
        font-size: 15px;
    }

    h1 {
        font-size: 2.25rem;
    }

    h4 {
        font-size: 16px;
    }

    p {
        font-size: 1.05rem;
    }
}

/* Large Devices (desktops ≥ 992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    html {
        font-size: 16px;
    }

    h1 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 17px;
    }

    p {
        font-size: 1.1rem;
    }
}

/* Extra Large Devices (large desktops ≥ 1200px) */
@media (min-width: 1200px) {
    html {
        font-size: 17px;
    }

    h1 {
        font-size: 2.75rem;
    }

    h4 {
        font-size: 18px;
    }

    p {
        font-size: 1.2rem;
    }
}
