.react-data-grid-lite-component * {
    box-sizing: border-box;
}

.react-data-grid-lite-component * {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.react-data-grid-lite-component * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.react-data-grid-lite-component * {
    font-family: 'Inter', system-ui, sans-serif;
}

.react-data-grid-lite-component * {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.react-data-grid-lite-component * {
    font-size: 16px;
    color: #212529;
}

.react-data-grid-lite-component i {
    font-family: FontAwesome !important;
}

.react-data-grid-lite-component .d-none {
    display: none !important;
}

.react-data-grid-lite-component a:hover,
.react-data-grid-lite-component a:active,
.react-data-grid-lite-component a:focus {
    outline: 0;
}

.react-data-grid-lite-component input,
.react-data-grid-lite-component select {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px !important;
}

.react-data-grid-lite-component select {
    padding-left: 10px;
    padding-right: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

    .react-data-grid-lite-component select::-ms-expand {
        display: none;
    }

.react-data-grid-lite-component input,
.react-data-grid-lite-component select {
    width: 90% !important;
    height: 100% !important;
    color: rgba(0, 0, 0);
    font-weight: 400;
    border-color: #bbb;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
}

.react-data-grid-lite-component input {
    padding-left: 10px;
    padding-right: 14px;
}

    .react-data-grid-lite-component input[type=button],
    .react-data-grid-lite-component input[type=submit],
    .react-data-grid-lite-component input[type=reset] {
        font-weight: bold;
        font-size: 12px;
        text-shadow: none;
        border-radius: 50px;
        line-height: 12px;
        margin-top: 5px;
    }

.react-data-grid-lite-component .inputWidth input,
.react-data-grid-lite-component .inputWidth select {
    width: 95% !important;
}

.react-data-grid-lite-component .fullInputWidth input,
.react-data-grid-lite-component .fullInputWidth select {
    width: 100% !important;
}

.react-data-grid-lite-component input[type=checkbox] {
    height: 18px !important;
    max-width: 10% !important;
    margin-left: 5px;
}

.react-data-grid-lite-component .no-select {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.react-data-grid-lite-component .txt-left {
    text-align: left !important;
}

.react-data-grid-lite-component .icon-align-center {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 70% !important;
}

.react-data-grid-lite-component .alignCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-data-grid-lite-component .align-page-center {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-data-grid-lite-component .fontStyle,
.react-data-grid-lite-component .fontStyle label,
.react-data-grid-lite-component .fontStyle input {
    color: #212529 !important;
    font-weight: 800 !important;
}

.react-data-grid-lite-component input::placeholder {
    transform: scale(0.8);
    transition: transform 0.3s ease;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #808080;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    animation: spin-react-data-grid-lite-component 1s linear infinite;
    margin: auto;
}

@keyframes spin-react-data-grid-lite-component {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media (max-width: 575.98px) {
    .react-data-grid-lite-component * {
        font-size: 14px;
    }

    .react-data-grid-lite-component h1 {
        font-size: 1.75rem;
    }

    .react-data-grid-lite-component h4 {
        font-size: 14.5px;
    }

    .react-data-grid-lite-component p {
        font-size: 0.9rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .react-data-grid-lite-component * {
        font-size: 14px;
    }

    .react-data-grid-lite-component h1 {
        font-size: 2rem;
    }

    .react-data-grid-lite-component h4 {
        font-size: 15px;
    }

    .react-data-grid-lite-component p {
        font-size: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .react-data-grid-lite-component * {
        font-size: 15px;
    }

    .react-data-grid-lite-component h1 {
        font-size: 2.25rem;
    }

    .react-data-grid-lite-component h4 {
        font-size: 16px;
    }

    .react-data-grid-lite-component p {
        font-size: 1.05rem;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .react-data-grid-lite-component * {
        font-size: 16px;
    }

    .react-data-grid-lite-component h1 {
        font-size: 2.5rem;
    }

    .react-data-grid-lite-component h4 {
        font-size: 17px;
    }

    .react-data-grid-lite-component p {
        font-size: 1.1rem;
    }
}

@media (min-width: 1200px) {
    .react-data-grid-lite-component * {
        font-size: 17px;
    }

    .react-data-grid-lite-component h1 {
        font-size: 2.75rem;
    }

    .react-data-grid-lite-component h4 {
        font-size: 18px;
    }

    .react-data-grid-lite-component p {
        font-size: 1.2rem;
    }
}
