.r-d-g-lt-comp {
    padding: 8px;
    background-color: #fff;
    border-radius: 10px;
    color: #0c0c0c;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    min-width: 250px !important;
    box-shadow: .2px 1px 4px 0 #0c0c0c;
}

    .r-d-g-lt-comp * {
        box-sizing: border-box !important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-family: 'Inter', system-ui, sans-serif;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .r-d-g-lt-comp :focus {
        outline: none !important;
    }

    .r-d-g-lt-comp :focus-visible {
        outline: none !important;
    }

    .r-d-g-lt-comp a:hover,
    .r-d-g-lt-comp a:active,
    .r-d-g-lt-comp a:focus {
        outline: 0 !important;
        box-shadow: 0 0 0 0 !important;
    }

    .r-d-g-lt-comp input,
    .r-d-g-lt-comp input[type="checkbox"] {
        box-sizing: border-box !important;
        -moz-box-sizing: border-box !important;
        -webkit-box-sizing: border-box !important;
        background-color: #fff;
        font-size: 16px;
        border: none;
        color: #212529;
    }

    .r-d-g-lt-comp div.globalSearch input,
    .r-d-g-lt-comp div.searchDiv input,
    .r-d-g-lt-comp div.editField input {
        border-radius: 8px !important;
        width: 100% !important;
        height: 100% !important;
        font-weight: 400 !important;
        padding: 1px 20px 2px 5px !important;
        box-shadow: inset 0 0 2px #444455;
        padding-block: 0;
        padding-inline: 0;
    }

    .r-d-g-lt-comp div.globalSearch input {
        padding: 1px 42px 2px 5px !important;
    }

    .r-d-g-lt-comp .drop--down {
        position: relative;
        min-width: 60px;
        border-radius: 8px !important;
        height: 30px;
        padding: 0;
        cursor: pointer;
        font-weight: 600 !important;
        margin: 2px;
        box-shadow: .2px 1px 4px 0 #0c0c0c !important;
    }

    .r-d-g-lt-comp .dropdown-selected {
        padding: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: border-color 0.2s;
        height: 100% !important;
        width: 100% !important;
    }

    .r-d-g-lt-comp .dropdown-arrow {
        font-size: 10px;
        margin-left: 4px;
    }

    .r-d-g-lt-comp .dropdown-options {
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        max-height: 140px;
        overflow-y: auto;
        background: white;
        border: 1px solid #0c0c0c;
        border-radius: 6px;
        z-index: 1000;
    }

    .r-d-g-lt-comp .dropdown-option {
        padding: 6px 10px;
        background: white;
        text-align: center;
        box-shadow: 0px -1px 3px 0px rgba(0, 0, 0, .1);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }

        .r-d-g-lt-comp .dropdown-option:hover {
            background-color: #f5f1f1;
        }

        .r-d-g-lt-comp .dropdown-option.selected {
            background-color: #0c0c0c;
            color: #fff;
            font-weight: 500;
        }

    .r-d-g-lt-comp .clear-input {
        position: absolute;
        right: 8px;
        cursor: pointer;
        color: #888;
        font-size: 14px;
        user-select: none;
        font-weight: 900;
    }

        .r-d-g-lt-comp .clear-input:hover {
            color: #333;
        }

    .r-d-g-lt-comp .pointer {
        cursor: pointer !important;
    }

    .r-d-g-lt-comp .alignCenter {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .r-d-g-lt-comp div.globalSearch input::placeholder,
    .r-d-g-lt-comp div.searchDiv input::placeholder {
        font-size: 14px;
        position: relative;
        text-align: center;
    }

    .r-d-g-lt-comp .dot-loader {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 6px;
        height: 20px;
    }

        .r-d-g-lt-comp .dot-loader span {
            width: 8px;
            height: 8px;
            background: #3498db;
            border-radius: 50%;
            animation: bounce-r-d-g-lt-comp 0.6s infinite ease-in-out;
        }

            .r-d-g-lt-comp .dot-loader span:nth-child(1) {
                animation-delay: -0.2s;
            }

            .r-d-g-lt-comp .dot-loader span:nth-child(2) {
                animation-delay: -0.1s;
            }

            .r-d-g-lt-comp .dot-loader span:nth-child(3) {
                animation-delay: 0s;
            }

@keyframes bounce-r-d-g-lt-comp {
    0%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }
}

.r-d-g-lt-comp .icon-div {
    border-radius: 10px;
    box-shadow: 0.2px 1px 4px 0px #0c0c0c;
    height: 28px;
    letter-spacing: .001em;
    line-height: 1.43;
    margin: 0;
    transition: box-shadow 0.1s ease;
    cursor: pointer;
    width: 28px;
    z-index: 10;
}

    .r-d-g-lt-comp .icon-div:hover {
        box-shadow: 0.5px 1px 4px 1px #555566;
    }

    .r-d-g-lt-comp .icon-div:active {
        box-shadow: inset 0 1px 4px #444455;
    }

.r-d-g-lt-comp .grid-icon-div {
    background: linear-gradient(180deg, #fff, #f5f1f1) !important;
    margin: auto !important;
}

.r-d-g-lt-comp .clear-icon-div {
    float: left;
    width: 40px;
    position: relative;
    top: 0px;
    height: 36px;
}

.r-d-g-lt-comp .download-icon-div {
    float: right;
    width: 136px;
    position: relative;
    top: 0px;
    height: 36px;
}

    .r-d-g-lt-comp .download-icon-div div.icon-content {
        display: inline-flex;
        align-items: center;
        gap: 3px;
    }

        .r-d-g-lt-comp .download-icon-div div.icon-content svg {
            width: 24px;
            height: 24px;
        }

.r-d-g-lt-comp .sort-icon-wrapper {
    width: 30px !important;
    position: relative;
}

.r-d-g-lt-comp i.icon-sort {
    display: inline-block;
    position: relative;
    width: 0;
    height: 8px;
    opacity: 0.8;
}

    .r-d-g-lt-comp i.icon-sort::before {
        bottom: 6px;
        border-bottom: 6px solid currentColor;
    }

    .r-d-g-lt-comp i.icon-sort::after {
        top: 6px;
        border-top: 6px solid currentColor;
    }

    .r-d-g-lt-comp i.icon-sort::before,
    .r-d-g-lt-comp i.icon-sort::after {
        content: "";
        position: absolute;
        left: -5px;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
    }

.r-d-g-lt-comp .updown-icon {
    text-shadow: 1px 1px 1px currentColor;
    margin: 0 !important;
    padding: 0 !important;
}

    .r-d-g-lt-comp .updown-icon.inactive {
        color: #ccc !important;
    }

.r-d-g-lt-comp i.icon-sort-up,
.r-d-g-lt-comp i.icon-sort-down {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.r-d-g-lt-comp i.icon-sort-up {
    border-bottom: 8px solid currentColor;
}

.r-d-g-lt-comp i.icon-sort-down {
    border-top: 8px solid currentColor;
}

.r-d-g-lt-comp .ai-search-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

    .r-d-g-lt-comp .ai-search-input-wrapper input {
        width: 100%;
        padding-right: 40px;
    }

.r-d-g-lt-comp .inline-search-btn {
    position: absolute;
    right: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #555;
}

    .r-d-g-lt-comp .inline-search-btn:hover {
        color: #000;
    }

.r-d-g-lt-comp .page-size-selector {
    float: right;
    justify-content: right;
}

.r-d-g-lt-comp .rows--selector {
    display: inline-flex;
    align-items: center;
    gap: 1px;
    position: relative;
    padding: 0 0 0 5px;
}

    .r-d-g-lt-comp .rows--selector .ps-dropdown {
        padding: 6px;
        cursor: pointer;
        user-select: none;
        position: relative;
        min-width: 60px;
    }

        .r-d-g-lt-comp .rows--selector .ps-dropdown .dropdown-options {
            position: absolute;
            bottom: -60%;
            left: 0;
            background: white;
            border: 1px solid #ccc;
            z-index: 999;
            width: 100%;
            min-width: 70px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            max-height: 280px;
            overflow-y: hidden;
        }

        .r-d-g-lt-comp .rows--selector .ps-dropdown .dropdown-option {
            cursor: pointer;
            padding: 8px 20px;
            text-align: left;
            box-shadow: none;
        }

            .r-d-g-lt-comp .rows--selector .ps-dropdown .dropdown-option:hover,
            .r-d-g-lt-comp .rows--selector .ps-dropdown .dropdown-option.selected {
                background-color: #f0f0f0;
                color: inherit;
                font-weight: inherit;
            }

.r-d-g-lt-comp .pd--0 {
    padding: 0;
}

.r-d-g-lt-comp .mg--0 {
    margin: 0;
}

.r-d-g-lt-comp .row--flex {
    display: flex;
    flex-wrap: wrap;
}

.r-d-g-lt-comp [class*="col-flex-"] {
    flex: 0 0 auto;
}

.r-d-g-lt-comp .col-flex-2 {
    width: 16.666%;
}

.r-d-g-lt-comp .col-flex-3 {
    width: 24.999%;
}

.r-d-g-lt-comp .col-flex-4 {
    width: 33.332%;
}

.r-d-g-lt-comp .col-flex-5 {
    width: 41.666%;
}

.r-d-g-lt-comp .col-flex-12 {
    width: 100%;
}

.r-d-g-lt-comp .react-data-grid-lite {
    border: 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .87);
    display: flex;
    flex-direction: column;
    letter-spacing: .001em;
    line-height: 1.43;
    outline: none;
    position: relative;
    z-index: 1;
    padding: 8px;
}

    .r-d-g-lt-comp .react-data-grid-lite table.gd-tbl {
        border: 0;
        border-radius: 10px;
        width: 100%;
        display: grid !important;
        border-collapse: collapse;
        table-layout: fixed;
        overflow: auto !important;
        border-spacing: 0;
        z-index: 1;
        box-shadow: 0px 0 1px 0 #0c0c0c;
    }

        .r-d-g-lt-comp .react-data-grid-lite table.gd-tbl::-webkit-scrollbar {
            height: 6px !important;
            width: 0;
            border: 6px solid #d5d5d5;
            border-end-end-radius: 10px;
            border-end-start-radius: 10px;
            z-index: 10;
        }

.r-d-g-lt-comp .dropdown-options::-webkit-scrollbar {
    width: 6px !important;
    border: 6px solid #d5d5d5;
    border-start-end-radius: 6px;
    z-index: 10;
}

.r-d-g-lt-comp .react-data-grid-lite table.gd-tbl::-webkit-scrollbar-thumb,
.r-d-g-lt-comp .dropdown-options::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 10px #000;
    border-radius: 10px;
    z-index: 10;
}

    .r-d-g-lt-comp .react-data-grid-lite table.gd-tbl::-webkit-scrollbar-thumb:hover,
    .r-d-g-lt-comp .dropdown-options::-webkit-scrollbar-thumb:hover {
        background-color: #f5f1f1;
    }

.r-d-g-lt-comp .react-data-grid-lite thead {
    display: table-header-group !important;
    width: 100%;
    position: sticky;
    z-index: 8;
    background-color: inherit;
    top: 0;
    left: 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
    will-change: transform;
    border: none;
}

.r-d-g-lt-comp .react-data-grid-lite table tbody {
    background-color: #fff;
    display: table-row-group !important;
}

    .r-d-g-lt-comp .react-data-grid-lite table tbody::-webkit-scrollbar {
        height: 0 !important;
        width: 0 !important;
    }

.r-d-g-lt-comp .react-data-grid-lite table tr {
    display: flex !important;
    width: 100%;
}

.r-d-g-lt-comp table thead tr th {
    position: relative;
    min-width: 75px !important;
    max-width: 2400px !important;
    border: none !important;
    vertical-align: middle !important;
}

.r-d-g-lt-comp table thead th div.emptyHeader svg path {
    width: 32px;
    height: 32px;
}

.r-d-g-lt-comp table thead tr.gridHeader {
    background-color: #0c0c0c;
    color: #fff;
}

    .r-d-g-lt-comp table thead tr.gridHeader th {
        padding: 6px 0 !important;
        height: 60px;
        display: flex;
        color: #fff;
    }

        .r-d-g-lt-comp table thead tr.gridHeader th div {
            position: relative;
            padding: 0px !important;
            width: 100%;
            transition: all 0.2s ease;
            cursor: pointer;
            margin: 0px !important;
        }

            .r-d-g-lt-comp table thead tr.gridHeader th div.headerText {
                padding: 0 0 0 5px !important;
                white-space: normal;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                text-transform: capitalize;
                font-size: 18px;
                display: block;
            }

    .r-d-g-lt-comp table thead tr.gridHeader span {
        width: 2px;
        background-color: rgb(224, 224, 224);
        position: absolute;
        right: 1px;
        top: 8px;
        bottom: 8px;
        z-index: 5;
        padding: 0 !important
    }

.r-d-g-lt-comp table thead tr.searchHeader {
    background-color: #fff !important;
}

    .r-d-g-lt-comp table thead tr.searchHeader th {
        background-color: #fff;
        padding: 4px 1px !important;
        line-height: 0.5 !important;
        height: 40px !important;
    }

        .r-d-g-lt-comp table thead tr.searchHeader th div {
            position: relative;
            height: 100%;
        }

.r-d-g-lt-comp table tbody tr.gridRow {
    border: none !important;
    border-bottom: 2px solid #e0e0e0 !important;
}

    .r-d-g-lt-comp table tbody tr.gridRow:first-child {
        border-top: 2px solid #e0e0e0 !important;
    }

    .r-d-g-lt-comp table tbody tr.gridRow td {
        border: none !important;
        padding: 0;
        min-width: 75px !important;
        max-width: 2400px !important;
    }

        .r-d-g-lt-comp table tbody tr.gridRow td.editable-cell:focus,
        .r-d-g-lt-comp .pagination li.page-item a.page-link:focus-visible,
        .r-d-g-lt-comp .dropdown-selected:focus-visible,
        .r-d-g-lt-comp .dropdown-option:focus-visible,
        .r-d-g-lt-comp .icon-div:focus-visible,
        .r-d-g-lt-comp table thead tr.gridHeader th:focus-visible,
        .r-d-g-lt-comp table tbody tr.gridRow td a:focus-visible {
            outline: currentColor 2px dotted !important;
            box-sizing: border-box !important;
            outline-offset: -5px;
        }

        .r-d-g-lt-comp table tbody tr.gridRow td div {
            overflow: hidden;
            white-space: normal;
            text-overflow: ellipsis;
            align-content: center;
        }

.r-d-g-lt-comp .pagination li.page-item a.page-link:focus-visible {
    outline-offset: -2px !important;
}

.r-d-g-lt-comp table thead tr.gridHeader th:focus-visible {
    outline-offset: -7px !important;
}

.r-d-g-lt-comp table tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.r-d-g-lt-comp table tbody tr:nth-of-type(odd) {
    background-color: #fdfeff;
}

.r-d-g-lt-comp table tbody tr:hover {
    background-color: #f5f5f5;
}

.r-d-g-lt-comp .float-lt {
    float: left;
}

.r-d-g-lt-comp .grid-footer {
    height: 60px !important;
    z-index: 2;
    position: relative;
    opacity: 90%;
}

.r-d-g-lt-comp .searchDiv {
    align-items: center !important;
    display: inline-block;
    color: #fff;
    width: 90% !important;
}

.r-d-g-lt-comp .globalSearchDiv {
    display: inline-block !important;
    padding: 4px 10px;
    margin: 0 !important;
    opacity: 90%;
}

    .r-d-g-lt-comp .globalSearchDiv .button-container {
        display: flex;
        justify-content: right;
        align-items: center;
        position: relative;
        gap: 12px;
        top: 3px;
    }

.r-d-g-lt-comp div.globalSearch {
    width: 60%;
    height: 42px;
    float: left;
    position: relative;
}

.r-d-g-lt-comp .button-column {
    flex-wrap: wrap !important;
    padding: 10px !important;
}

.r-d-g-lt-comp .page-results {
    padding-left: 10px !important;
    text-align: left !important;
}

.r-d-g-lt-comp .pagination {
    float: right;
    padding-right: 5px;
    list-style: none;
    background: inherit;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

    .r-d-g-lt-comp .pagination li.page-item a.page-link {
        border: 0;
        border-radius: 6px !important;
        color: #0c0c0c !important;
        height: 24px;
        line-height: 24px;
        text-align: center;
        text-decoration: none !important;
        min-width: 24px;
        background-color: inherit;
        font-weight: 600;
        font-size: 14px;
        padding: 0 3px;
        margin: 0 1px;
    }

    .r-d-g-lt-comp .pagination > li.page-item > a.page-link:hover {
        background-color: #c0cad3 !important;
        color: #fff !important;
    }

    .r-d-g-lt-comp .pagination li.page-item.active a.page-link {
        background: #0c0c0c !important;
        pointer-events: none !important;
        color: #fff !important;
    }

    .r-d-g-lt-comp .pagination li.page-item a.dot {
        width: 10px !important;
    }

        .r-d-g-lt-comp .pagination li.page-item a.dot:hover {
            background: inherit !important;
            color: inherit !important;
        }

        .r-d-g-lt-comp .pagination li.page-item a.dot:active {
            background: inherit !important;
            color: inherit !important;
        }

    .r-d-g-lt-comp .pagination li.page-item.disabled {
        background: inherit !important;
        pointer-events: none;
    }

        .r-d-g-lt-comp .pagination li.page-item.disabled i.arrow {
            background: inherit !important;
            color: #999 !important;
        }

    .r-d-g-lt-comp .pagination li.page-item a i.arrow {
        font-style: normal;
        font-weight: 900;
        position: relative;
        font-size: 18px;
    }

        .r-d-g-lt-comp .pagination li.page-item a i.arrow:hover,
        .r-d-g-lt-comp .pagination li.page-item.arrow:hover,
        .r-d-g-lt-comp .pagination li.page-item.arrow a:hover {
            color: #212529 !important;
        }

    .r-d-g-lt-comp .pagination li.page-item.arrow a:hover {
        background: inherit !important;
    }

    .r-d-g-lt-comp .pagination li.page-item.arrow a.page-link:active {
        background: inherit !important;
        color: inherit !important;
    }

.r-d-g-lt-comp .emptyHeader {
    cursor: default !important;
}

.r-d-g-lt-comp .page-list {
    display: block !important;
}

@media (max-width: 700px) {
    .r-d-g-lt-comp .rows--selector .ps-dropdown {
        padding: 6px 2px;
        min-width: 40px;
    }

    .r-d-g-lt-comp .drop--down {
        min-width: 50px;
        height: 30px;
    }
}

@media (max-width: 500px) {
    .r-d-g-lt-comp table thead tr.gridHeader th {
        padding: 2px 0 !important;
        height: 50px;
    }

    .r-d-g-lt-comp .searchHeader th {
        padding: 5px 0 !important;
    }

        .r-d-g-lt-comp .searchHeader th div {
            padding-left: 0px !important;
        }

    .r-d-g-lt-comp .gridRow td {
        padding: 4px 0 5px 0;
    }

    .r-d-g-lt-comp .page-results,
    .r-d-g-lt-comp .pager-select,
    .r-d-g-lt-comp .page-size-selector {
        transform: scale(0.95) !important;
    }
}

@media (max-width: 575.98px) {
    .r-d-g-lt-comp {
        font-size: 12.5px;
    }

        .r-d-g-lt-comp table thead tr.gridHeader th div.headerText {
            font-size: 14px;
        }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .r-d-g-lt-comp {
        font-size: 14px;
    }

        .r-d-g-lt-comp table thead tr.gridHeader th div.headerText {
            font-size: 15px;
        }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .r-d-g-lt-comp {
        font-size: 15px;
    }

        .r-d-g-lt-comp table thead tr.gridHeader th div.headerText {
            font-size: 16px;
        }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .r-d-g-lt-comp {
        font-size: 16px;
    }

        .r-d-g-lt-comp table thead tr.gridHeader th div.headerText {
            font-size: 17px;
        }
}