.react-data-grid-lite-component * {
    box-sizing: border-box;
}

.react-data-grid-lite-component * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.react-data-grid-lite-component * {
    font-family: 'Inter', system-ui, sans-serif;
}

.react-data-grid-lite-component * {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    color: #212529;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.react-data-grid-lite-component :focus-visible {
    outline: -webkit-focus-ring-color auto 0px !important;
}

.react-data-grid-lite-component .d-none {
    display: none !important;
}

.react-data-grid-lite-component .pointer {
    cursor: pointer !important;
}

.react-data-grid-lite-component a:hover,
.react-data-grid-lite-component a:active,
.react-data-grid-lite-component a:focus {
    outline: 0;
}

.react-data-grid-lite-component input,
.react-data-grid-lite-component select {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 2px solid #bbb;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 90% !important;
    height: 100% !important;
    color: rgba(0, 0, 0);
    font-weight: 400;
    border-radius: 4px;
}

.react-data-grid-lite-component select {
    text-indent: 4px;
    text-overflow: '';
}

    .react-data-grid-lite-component select option {
        background-color: #e0e0e0 !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

.react-data-grid-lite-component input {
    padding-left: 10px;
    padding-right: 14px;
}

.react-data-grid-lite-component .txt-left {
    text-align: left !important;
}

.react-data-grid-lite-component .align-page-center {
    width: 100%;
    height: 70px;
}

.react-data-grid-lite-component .alignCenter {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.react-data-grid-lite-component input::placeholder {
    transform: scale(0.8);
    transition: transform 0.3s ease;
    top: 1px;
    position: relative;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #808080;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    animation: spin-react-data-grid-lite-component 1s linear infinite;
    margin: auto;
}

@keyframes spin-react-data-grid-lite-component {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.react-data-grid-lite-component {
    margin: auto;
    padding: 8px;
    background-color: #e0e0e0;
    border-radius: 6px;
}

    .react-data-grid-lite-component .icon-div {
        background: #e0e0e0;
        border-radius: 4px;
        box-shadow: 0 0 0 2px #a9a9a9;
        height: 32px;
        letter-spacing: .001em;
        line-height: 1.43;
        margin: 0;
        transition: background-color 0.3s ease;
        cursor: pointer;
        width: 32px;
    }

        .react-data-grid-lite-component .icon-div:hover {
            transform: scale(1.03);
            background-color: #e0e0e0;
        }

        .react-data-grid-lite-component .icon-div:active {
            transform: scale(0.98);
            background-color: #e0e0e0;
        }

    .react-data-grid-lite-component .grid-icon-div {
        background: linear-gradient(180deg, #fff, #e0e0e0) !important;
    }

    .react-data-grid-lite-component .clear-icon-div {
        float: left;
        margin-bottom: 5px !important;
        width: 50px;
        position: relative;
        top: 0px;
        height: 36px;
    }

    .react-data-grid-lite-component .icon-common-css {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs, 1));
        cursor: pointer;
        color: #212529;
    }

    .react-data-grid-lite-component .erase-icon {
        width: 22px;
        height: 18px;
    }

        .react-data-grid-lite-component .delete-icon::after,
        .react-data-grid-lite-component .delete-icon::before,
        .react-data-grid-lite-component .erase-icon::after,
        .react-data-grid-lite-component .erase-icon::before,
        .react-data-grid-lite-component .edit-icon-pen::after,
        .react-data-grid-lite-component .edit-icon-pen::before,
        .react-data-grid-lite-component .download-icon::after,
        .react-data-grid-lite-component .download-icon::before {
            content: "";
            display: block;
            box-sizing: border-box;
            position: absolute;
        }

        .react-data-grid-lite-component .erase-icon::before {
            width: 6px;
            height: 14px;
            border-bottom: 4px solid transparent;
            border-radius: 1px;
            box-shadow: 0 0 0 2px, inset 0 -2px 0 0;
            left: 7px;
            top: 0px;
            transform: rotate(45deg);
        }

        .react-data-grid-lite-component .erase-icon::after {
            background: currentColor;
            width: 22px;
            height: 2px;
            bottom: 0;
            border-radius: 20px;
        }

    .react-data-grid-lite-component .download-icon-div {
        float: right;
        width: 150px !important;
        margin-bottom: 5px !important;
        position: relative;
        top: 0px;
        height: 36px;
    }

    .react-data-grid-lite-component .download-icon {
        width: 16px;
        height: 6px;
        border: 2px solid;
        border-top: 0;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        margin-top: 8px;
        margin-left: 10px;
    }

        .react-data-grid-lite-component .download-icon::after {
            width: 8px;
            height: 8px;
            border-left: 2px solid;
            border-bottom: 2px solid;
            transform: rotate(-45deg);
            left: 2px;
            bottom: 4px;
        }

        .react-data-grid-lite-component .download-icon::before {
            border-radius: 3px;
            width: 2px;
            height: 10px;
            background: currentColor;
            left: 5px;
            bottom: 5px;
        }

    .react-data-grid-lite-component .edit-icon-pen {
        transform: rotate(-45deg) scale(var(--ggs, 1)) !important;
        width: 14px;
        height: 4px;
        border-right: 2px solid transparent;
        box-shadow: 0 0 0 2px, inset -2px 0 0;
        border-top-right-radius: 1px;
        border-bottom-right-radius: 1px;
        margin-right: -2px;
        background-color: #f0f0f0;
    }

        .react-data-grid-lite-component .edit-icon-pen::before {
            background: currentColor;
            border-left: 0;
            right: -6px;
            width: 3px;
            height: 4px;
            border-radius: 1px;
            top: 0;
        }

        .react-data-grid-lite-component .edit-icon-pen::after {
            width: 8px;
            height: 7px;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            border-right: 7px solid;
            left: -11px;
            top: -2px;
        }

    .react-data-grid-lite-component .delete-icon {
        width: 10px;
        height: 12px;
        border: 2px solid transparent;
        box-shadow: 0 0 0 2px, inset -2px 0 0, inset 2px 0 0;
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
        margin-top: 4px;
        background-color: #f0f0f0;
    }

        .react-data-grid-lite-component .delete-icon::after {
            background: currentColor;
            border-radius: 3px;
            width: 16px;
            height: 2px;
            top: -4px;
            left: -5px;
        }

        .react-data-grid-lite-component .delete-icon::before {
            width: 10px;
            height: 4px;
            border: 2px solid;
            border-bottom: transparent;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            top: -7px;
            left: -2px;
        }

    .react-data-grid-lite-component .sort-icon-wrapper {
        width: 16px !important;
        position: relative;
    }

    .react-data-grid-lite-component i.fa-sort {
        display: inline-block;
        position: relative;
        width: 0;
        height: 8px;
        transform: scale(0.8);
        opacity: 0.8;
    }

        .react-data-grid-lite-component i.fa-sort::before {
            bottom: 7px;
            border-bottom: 6px solid #a9a9a9;
        }

        .react-data-grid-lite-component i.fa-sort::after {
            top: 7px;
            border-top: 6px solid #a9a9a9;
        }

        .react-data-grid-lite-component i.fa-sort::before,
        .react-data-grid-lite-component i.fa-sort::after {
            content: "";
            position: absolute;
            left: -6px;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom-color: #666;
            border-top-color: #666;
        }

    .react-data-grid-lite-component .updown-icon {
        text-shadow: 1px 1px 1px #ccc;
        font-size: 15px !important;
        margin-left: 5px !important;
    }

        .react-data-grid-lite-component .updown-icon.inactive {
            color: #ccc !important;
        }

    .react-data-grid-lite-component i.fa-sort-up {
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        transform: scale(0.8);
        border-bottom: 6px solid black;
    }

    .react-data-grid-lite-component i.fa-sort-down {
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        transform: scale(0.8);
        border-top: 6px solid black;
    }

    .react-data-grid-lite-component .p-0 {
        padding: 0;
    }

    .react-data-grid-lite-component .m-0 {
        margin: 0;
    }

    .react-data-grid-lite-component .pr-1 {
        padding-right: .25rem !important;
    }

    .react-data-grid-lite-component .pl-2 {
        padding-left: .5rem !important;
    }

    .react-data-grid-lite-component .row {
        display: flex;
        flex-wrap: wrap;
    }

    .react-data-grid-lite-component .col {
        flex: 1;
        padding-left: 0.1rem;
        padding-right: 0.1rem;
    }

    .react-data-grid-lite-component [class*="col-"] {
        flex: 0 0 auto;
    }

    .react-data-grid-lite-component .col-1 {
        width: 8.333%;
    }

    .react-data-grid-lite-component .col-2 {
        width: 16.666%;
    }

    .react-data-grid-lite-component .col-5 {
        width: 41.666%;
    }

    .react-data-grid-lite-component .col-12 {
        width: 100%;
    }

    .react-data-grid-lite-component .react-data-grid-lite {
        background-color: #fff;
        border: 0;
        border-radius: 6px;
        box-shadow: 0 0 0 3px #e0e0e0;
        box-sizing: border-box;
        color: rgba(0, 0, 0, .87);
        display: flex;
        flex: 1 1 0%;
        flex-direction: column;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: 400;
        letter-spacing: .001em;
        line-height: 1.43;
        outline: none;
        position: relative;
    }

        .react-data-grid-lite-component .react-data-grid-lite table {
            border-radius: 5px;
            width: 100%;
        }

            .react-data-grid-lite-component .react-data-grid-lite table tbody {
                overflow-x: auto !important;
                overflow-y: auto !important;
            }

            .react-data-grid-lite-component .react-data-grid-lite table::-webkit-scrollbar {
                height: 15px !important;
                width: 15px !important;
                border: 15px solid #d5d5d5;
                border-start-end-radius: 1px;
            }

            .react-data-grid-lite-component .react-data-grid-lite table::-webkit-scrollbar-track {
                border-radius: 1px;
            }

            .react-data-grid-lite-component .react-data-grid-lite table::-webkit-scrollbar-thumb {
                -webkit-box-shadow: inset 0 0 10px #808080;
                border-radius: 1px;
            }

                .react-data-grid-lite-component .react-data-grid-lite table::-webkit-scrollbar-thumb:hover {
                    background: #555;
                }

            .react-data-grid-lite-component .react-data-grid-lite table tbody::-webkit-scrollbar {
                height: 0px !important;
                width: 0px !important;
            }

        .react-data-grid-lite-component .react-data-grid-lite thead {
            display: block;
            width: 100%;
            border: solid #e0e0e0 !important;
            border-width: 0 0 2px !important;
        }

    .react-data-grid-lite-component tr {
        display: flex;
        width: 100%;
    }

    .react-data-grid-lite-component .gridHeader {
        background-color: #fff;
        table-layout: fixed;
    }

        .react-data-grid-lite-component .gridHeader th {
            border: 0px solid rgb(224, 224, 224) !important;
            position: relative;
            padding: 15px 0 5px 0 !important;
            vertical-align: top !important;
        }

            .react-data-grid-lite-component .gridHeader th div {
                position: relative;
                padding: 0px !important;
                width: 100%;
                transition: all 0.3s ease;
                cursor: pointer;
                margin: 0px !important;
                height: 55px !important;
            }

                .react-data-grid-lite-component .gridHeader th div h4 {
                    margin: 0 !important;
                    padding: 0 !important;
                    justify-content: center;
                }

        .react-data-grid-lite-component .gridHeader span {
            width: 2px;
            background-color: rgb(224, 224, 224);
            position: absolute;
            right: -3px;
            top: 8px;
            bottom: 8px;
            z-index: 1;
            padding: 0 !important
        }

    .react-data-grid-lite-component .searchHeader {
        table-layout: fixed;
    }

        .react-data-grid-lite-component .searchHeader th {
            background-color: #fff;
            border: 0px solid rgb(224, 224, 224) !important;
            position: relative;
            padding: 5px 0 7px !important;
            vertical-align: top !important;
            line-height: 0.5 !important;
            table-layout: fixed;
        }

            .react-data-grid-lite-component .searchHeader th div {
                position: relative;
                padding-left: 0px !important;
            }

.react-data-grid-lite-component .gridRows:first-child,
.react-data-grid-lite-component .gridRows:first-child td {
    border-top: 0px solid rgb(224, 224, 224) !important;
}

    .react-data-grid-lite-component .gridRows:last-child {
        border-bottom: 1px solid rgb(224, 224, 224) !important;
    }

    .react-data-grid-lite-component .gridRows td {
        border: solid #e0e0e0 !important;
        border-width: 1px 0 0 !important;
        flex: 1;
        padding: 0 !important;
        display: inline-grid;
    }

        .react-data-grid-lite-component .gridRows td div {
            overflow: hidden;
            white-space: normal;
            text-overflow: ellipsis;
            padding: 10px 8px 10px 10px !important;
            align-content: center;
            text-align: center;
        }

    .react-data-grid-lite-component table {
        overflow-x: auto !important;
        overflow-y: auto !important;
        display: inline-grid !important;
    }

    .react-data-grid-lite-component .float-lt {
        float: left;
    }

    .react-data-grid-lite-component .grid-footer {
        height: 70px !important;
        text-align: center;
        vertical-align: middle;
        background-color: #e0e0e0;
    }

    .react-data-grid-lite-component .searchDiv {
        align-items: center !important;
        display: inline-block;
        color: #fff;
    }

    .react-data-grid-lite-component .searchInput {
        width: 90% !important;
        height: 100% !important;
        font-weight: 400;
        border-radius: 2px;
        box-shadow: rgb(224, 224, 224) 0px 0px 0px 2px;
        border: 0px;
        background-color: #fff;
    }

    .react-data-grid-lite-component .globalSearchDiv {
        display: block !important;
        padding: 4px 6px 0px 4px !important;
        margin: 0 !important;
        background-color: #e0e0e0;
        height: 50px;
    }

    .react-data-grid-lite-component input.globalSearch {
        background-color: #fff;
        border: 0;
        border-radius: 4px;
        box-shadow: 0 0 0 1px #e0e0e0;
        float: left !important;
        font-weight: 400;
        height: 36px !important;
        margin-bottom: 5px;
        margin-right: 12px;
        width: 35% !important;
    }

        .react-data-grid-lite-component input.globalSearch::placeholder,
        .react-data-grid-lite-component .searchInput::placeholder {
            text-align: center;
        }

    .react-data-grid-lite-component .pagerSelect select {
        width: 70px !important;
        border-radius: 10px;
        height: 38px !important;
        padding: 0;
        background-color: rgb(224, 224, 224);
        text-align: center;
    }

    .react-data-grid-lite-component .button-column {
        flex-wrap: wrap;
    }

    .react-data-grid-lite-component input[type="text" i].globalSearch,
    .react-data-grid-lite-component input[type="text" i].searchInput {
        padding: 1px 5px;
    }

    .react-data-grid-lite-component table.table-striped tbody tr:nth-of-type(odd) {
        background-color: #fcfcfc;
    }

    .react-data-grid-lite-component table.table-striped.table-hover tbody tr:hover {
        background: #f5f5f5;
    }

    .react-data-grid-lite-component .pagination {
        float: right;
        padding-right: 15px !important;
        list-style: none;
    }

        .react-data-grid-lite-component .pagination li a {
            border: 0;
            border-radius: 10px !important;
            color: #999 !important;
            font-size: 96% !important;
            height: 28px;
            line-height: 28px;
            margin: 0px 2px;
            padding: 0px;
            text-align: center;
            text-decoration: none !important;
            width: 32px;
        }

            .react-data-grid-lite-component .pagination li a:hover {
                background: #e0e0e0;
                color: #fff !important;
            }

        .react-data-grid-lite-component .pagination li.active a {
            background: #a57b7b;
            pointer-events: none;
            color: #fff !important;
        }

        .react-data-grid-lite-component .pagination li a.dot {
            width: 10px !important;
        }

            .react-data-grid-lite-component .pagination li a.dot:hover {
                background: inherit !important;
                color: inherit !important;
            }

            .react-data-grid-lite-component .pagination li a.dot:active {
                background: inherit !important;
                color: inherit !important;
            }

        .react-data-grid-lite-component .pagination li.disabled {
            pointer-events: none;
        }

            .react-data-grid-lite-component .pagination li.disabled i {
                color: #ccc;
            }

        .react-data-grid-lite-component .pagination i.arrow {
            font-size: 28px !important;
            top: 3px;
            position: relative;
        }

            .react-data-grid-lite-component .pagination i.arrow:hover,
            .react-data-grid-lite-component .pagination li.arrow:hover,
            .react-data-grid-lite-component .pagination li.arrow a:hover {
                color: #212529 !important;
            }

        .react-data-grid-lite-component .pagination li.arrow a:hover {
            background: inherit !important;
        }

        .react-data-grid-lite-component .pagination li.arrow a:active {
            background: inherit !important;
            color: inherit !important;
        }

        .react-data-grid-lite-component .pagination li i {
            font-size: 19px;
            line-height: 14px;
            padding-top: 6px;
            font-style: normal;
        }

        .react-data-grid-lite-component .pagination > li > .page-link:hover {
            background-color: #c0cad3 !important;
            box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%);
        }

    .react-data-grid-lite-component .emptyHeader {
        cursor: default !important;
    }

@media (max-width: 480px) {
    .react-data-grid-lite-component .react-data-grid-lite table tbody {
        max-height: 345px;
        height: 345px;
    }

    .react-data-grid-lite-component .gridHeader th {
        padding: 8px 0 2px 0 !important;
        border-top: none !important;
        border-bottom: none !important;
    }

    .react-data-grid-lite-component .searchHeader th {
        padding: 5px 0 !important;
        border-top: none !important;
        border-bottom: 2px solid rgb(224, 224, 224) !important;
    }

        .react-data-grid-lite-component .searchHeader th div {
            padding-left: 0px !important;
        }

    .react-data-grid-lite-component .gridRows td {
        padding: 4px 0 5px 0 !important;
    }

        .react-data-grid-lite-component .gridRows td div {
            padding-left: 12px !important;
        }

    .react-data-grid-lite-component .updown-icon {
        margin-left: 4px !important;
        font-size: 10px !important;
    }

    .react-data-grid-lite-component i.fa-sort:before,
    .react-data-grid-lite-component i.fa-sort:after {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }

    .react-data-grid-lite-component i.fa-sort:before {
        border-bottom: 4px solid #a9a9a9;
        bottom: 6px;
    }

    .react-data-grid-lite-component i.fa-sort:after {
        border-top: 4px solid #a9a9a9;
        top: 6px;
    }

    .react-data-grid-lite-component i.fa-sort-down,
    .react-data-grid-lite-component i.fa-sort-up {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
    }

    .react-data-grid-lite-component i.fa-sort-up {
        border-bottom: 5px solid black;
    }

    .react-data-grid-lite-component i.fa-sort-down {
        border-top: 5px solid black;
    }

    .react-data-grid-lite-component .searchInput {
        width: 70% !important;
        height: 25% !important;
        padding-left: 2px;
        padding-right: 2px;
    }

    .react-data-grid-lite-component .download-icon-div {
        width: 125px !important;
    }

    .react-data-grid-lite-component .clear-icon-div {
        width: 40px;
    }

    .react-data-grid-lite-component input.globalSearch {
        width: 40% !important;
        padding-left: 2px;
        padding-right: 2px;
    }

    .react-data-grid-lite-component .pagerSelect select {
        width: 50px !important;
        height: 32px !important;
        border-radius: 6px;
    }

    .react-data-grid-lite-component .pagination {
        padding: 0px !important;
        margin: 0px !important;
    }

        .react-data-grid-lite-component .pagination li a {
            height: 26px !important;
            width: 26px !important;
            line-height: 26px !important;
            margin: 0 !important;
            border-radius: 6px !important;
        }

        .react-data-grid-lite-component .pagination li i {
            padding-top: 2px !important;
        }

    .react-data-grid-lite-component .react-data-grid-lite table::-webkit-scrollbar {
        height: 12px !important;
        width: 12px !important;
        border: 12px solid #d5d5d5;
    }
}

@media (max-width: 575.98px) {
    .react-data-grid-lite-component * {
        font-size: 14px;
    }

    .react-data-grid-lite-component h4 {
        font-size: 16px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .react-data-grid-lite-component * {
        font-size: 15px;
    }

    .react-data-grid-lite-component h4 {
        font-size: 17px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .react-data-grid-lite-component * {
        font-size: 16px;
    }

    .react-data-grid-lite-component h4 {
        font-size: 19px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .react-data-grid-lite-component * {
        font-size: 17px;
    }

    .react-data-grid-lite-component h4 {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    .react-data-grid-lite-component * {
        font-size: 18px;
    }

    .react-data-grid-lite-component h4 {
        font-size: 22px;
    }
}

@media (min-width: 370px) and (max-width: 600px) {
    .react-data-grid-lite-component .searchHeader th {
        border-bottom: 2px solid rgb(224, 224, 224) !important;
    }
}

@media (max-width: 900px) {
    .react-data-grid-lite-component .searchHeader th {
        border-bottom: 2px solid rgb(224, 224, 224) !important;
    }
}
