.custom-checkbox {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    user-select: none;
    position: relative;
}

    .custom-checkbox input {
        display: none;
    }

    .custom-checkbox .checkmark {
        width: 20px;
        height: 20px;
        border: 2px solid #ccc;
        border-radius: 6px;
        background-color: #fff;
        position: relative;
        transition: all 0.2s ease;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    .custom-checkbox input:checked + .checkmark {
        background-color: #4A90E2;
        border-color: #4A90E2;
    }

    .custom-checkbox .checkmark::after {
        content: '';
        position: absolute;
        display: none;
        left: 6px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        transition: all 0.2s ease;
    }

    .custom-checkbox input:checked + .checkmark::after {
        display: block;
    }

.clear-selected-rows {
    background-color: #e0e0e0;
    padding: 10px !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px;
    border-radius: 6px;
    box-shadow: .2px 1px 4px 0 #0c0c0c;
    margin: 20px 10px;
    height: 30px;
}

    .clear-selected-rows:active {
        box-shadow: inset 0 1px 4px #445;
    }
