.navbar {
    background-color: #333;
    padding: 10px 20px;
}

.navbar-links {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 1px !important;
}

    .navbar-links a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

        .navbar-links a:hover {
            color: #1abc9c;
        }
